body{
    margin: 0px;
}

.article{
    // background: #1f1b1b;
    padding: 10px;
    color: #FFFFFF;
}
.el-button--info-two.is-plain {
    background: #5C6F85;
    border-color: #5C6F85;
    border-radius: 4px;
    padding: 8px 20px;
    margin-right: 10px;
    margin-left: 0px; 
    color: #FFF;
}